$primary:       #9C83A3;
$secondary:     #C3C7D0;
$tertiary:      #CEAA95;
$success:       #62C4C3;
$info:          #595959;
$warning:       #D36767;
$danger:        #D94343;
$danger-dark:   #A62E2E;
$background:    #F2F2F2;

$font-family-sans-serif:  'Open Sans';
$font-family-serif:       'Merriweather';

$grid-columns: 24;
$grid-gutter-width: 2rem;

$hr-border-color: $info;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";

$theme-colors: map-merge(
  ("text": #595959),
  $theme-colors
);

$grays: ();
@for $i from 1 through 50 {
  $grays: append($grays, darken(#ffffff, $i * 1%));
};