@import "styles/variables";

@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/type";

@import "styles/fonts";

*, body {
  font-family: 'Roboto', sans-serif;
  color: map-get($theme-colors, text);
}

.visible-xs { display: none; }
.visible-sm { display: none; }
.visible-md { display: none; }
.visible-lg { display: none; }
.visible-xl { display: none; }

@media only screen and (max-width: 575.99px) {
  .visible-xs { display: block !important; }
  .hidden-xs { display: none !important; }
}

@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  .visible-sm { display: block !important; }
  .hidden-sm { display: none !important; }
}

@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  .visible-md { display: block !important; }
  .hidden-md { display: none !important; }
}

@media only screen and (min-width: 992px) and (max-width: 1199.99px) {
  .visible-lg { display: block !important; }
  .hidden-lg { display: none !important; }
}

@media only screen and (min-width: 1200px) {
  .visible-xl { display: block !important; }
  .hidden-xl { display: none !important; }
}